@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Montserrat;
  line-height: 1.5;
  

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.submitbtnevent{
  width: -webkit-fill-available;
}
.eventBannerImg{max-width: 200px; max-height: 200px; height: 100%; width: 100%;object-fit: contain;border: 1px solid #c9c9c9; border-radius: 0.5rem;}
.eventname, .eventLocation {background: transparent; border: none; font-size: 1.5rem; font-weight: 600;}
.eventname:focus, .eventLocation:focus,.inputTicket:focus,.inputCapacity:focus{outline: none;}
.eventname::placeholder, .eventLocation::placeholder{font-size: 1.5rem; font-weight: 600;}
.iconEvent{cursor: pointer;}
.inputTicket, .inputCapacity{max-width: 130px;padding: 0.1rem 0.5rem; position: absolute; right: 0; padding-right: 1.5rem;}
.editIcon{margin-left: 0.25rem;}
.visibilitySpan {
  transition: transform 0.5s ease; /* Define transition for transform property */
}

.visibilityAnimation {
  animation: fadeInOut 0.5s ease; /* Apply animation */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
